<section class="block-container">
    <header>
        <h2>Enjoy the ride for the best price</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, eveniet?</p>
    </header>
    <article>
        <div class="block-content">
            <img src="#" alt="">
            <h3>Best price</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque quasi doloribus 
                sit provident quaerat exercitationem sint voluptatum sapiente totam.</p>
        </div>
        <img src="images/iris-4.jpeg" alt="">
    </article>

    <article>
        <div class="block-content">
            <img src="#" alt="">
            <h3>Flexible rent time</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque quasi doloribus 
                sit provident quaerat exercitationem sint voluptatum sapiente totam.</p>
        </div>
        <img src="images/iris-4.jpeg" alt="">
    </article>

    <article>
        <div class="block-content">
            <img src="#" alt="">
            <h3>Happy customers</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque quasi doloribus 
                sit provident quaerat exercitationem sint voluptatum sapiente totam.</p>
        </div>
        <img src="images/iris-4.jpeg" alt="">
    </article>

    <article>
        <div class="block-content">
            <img src="#" alt="">
            <h3>Insurance dealt with</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque quasi doloribus 
                sit provident quaerat exercitationem sint voluptatum sapiente totam.</p>
        </div>
        <img src="images/iris-4.jpeg" alt="">
    </article>
</section>
