
<div class="cars">

    <div class="box-container">

        <div class="box">
            <img class="box-image" src="images/1740759.jpg" alt="car">
    
            <h3>Mercedes_benz G63</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>549 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

        <div class="box">
            <img class="box-image" src="images/2022-audi-rs-e-tron-gt-0-1024x555.jpg" alt="car">

            <h3>Audi e-Tron GT</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>499 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

        <div class="box">
            <img class="box-image"  src="images/7082c1f086aa4524a887d5014115b159.jpg" alt="car">
    
            <h3>Audi RSQ8</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>599 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

        <div class="box">
            <img class="box-image" src="images/iris-2.jpeg" alt="car">
      
            <h3>Porsche Cayenne Turbo S</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>599 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

        <div class="box">
           <img class="box-image" src="images/iris-3.jpeg" alt="car">
          
            <h3>Porsche Panamera</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>549 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

        <div class="box">
            <img class="box-image" src="images/iris.jpeg" alt="car">
      
            <h3>Porsche GT3</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5>629 $ /month</h5>
            <button class="btn">Rent</button>
        </div>

    </div>

</div>