<section class="hero">
    <div class="container grid">
        <header class="hero_heading">
            <h1>Experience your dreamcar</h1>
            <p>Scratch the itch of owning that car you've always dreamed of!</p>
        </header>
        <img class="hero" src="images/iris-4.jpeg" alt="hero">
    </div>
    <div class="input-container">
        <form>
            <div class="form-box">
                <input type="text" class="input-item" placeholder="Brand, Model, Year etc">
                <input type="text" class="input-item" placeholder="Location">
                <input type="text" class="input-item" placeholder="Length of rent">
                <button class="search-btn">Search</button>
            </div>
        </form>
    </div>
</section>